@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'Julius Sans One';
    src: url("../assets/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf");
}

@font-face {
    font-family: 'Judson';
    src: url("../assets/fonts/Judson/Judson-Regular.ttf");
}


/*DEFAULT STYLES*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
 ::before,
 ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #424141;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#company_name,
.service_page,
.what_is_gentmode,
.contact_us,
#form_submit,
.contact_form>input,
#message {
    font-family: 'Julius Sans One';
}

.story,
.footer_one,
.newsletter_form>#email,
.newsletter_form>#subscribe_button,
.footer_two {
    font-family: 'Judson';
}


/* LANDING PAGE STYLE */

.landing_page {
    height: 100vh;
    background-image: url("../assets/images/landing_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

nav,
.anchors>a {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: white;
}

nav {
    width: calc(100% - 40px);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1;
    transition: background-color 0.3s ease, top 0.3s ease, left 0.3s ease, right 0.3s ease;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.scrolled {
    background-color: #333;
}

.anchors {
    display: flex;
    gap: 4vw;
}

#logo {
    height: 15vh;
    width: auto;
    position: absolute;
    left: 0;
}

#book_button,
#login_button {
    /* position: absolute; */
    right: 2vw;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: .1rem solid white;
    border-radius: .5rem;
    padding: 1.5vh 4vh;
    cursor: pointer;
}

#login_button {
    position: absolute;
}

#company_name {
    font-size: 15.0rem;
    color: white;
    position: absolute;
    left: 7.5vh;
    top: calc(50% + 7vh);
    transform: translate(0%, -50%);
}


/* SERVICE PAGE */

.service_page {
    height: 115vh;
    width: 100%;
    position: relative;
    padding: 8vw 10vw;
}

.our_services {
    position: absolute;
    left: 10vw;
    top: 8vw;
}

#p1 {
    font-size: 1.5rem;
}

#p2 {
    font-size: 3.0rem;
}

#view_more {
    position: absolute;
    right: 10vw;
    top: 8vw;
    font-size: 3.0rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: .1rem solid white;
    border-radius: .5rem;
    padding: 1.5vh 4vh;
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 18vw;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
}

.card>img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.card1>img {
    object-position: 0 -130px;
}

.card2>img {
    object-position: 0 -150px;
}

.card4>img {
    object-position: 0 -210px;
}

.content {
    padding: 0 2vw;
}

.icon_container {
    width: 12vh;
    height: 12vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.icon_container .icon {
    z-index: 1;
    width: 10vh;
    height: 10vh;
    background-color: #FFCC00;
    border-radius: .5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_container .shadow {
    width: 10vh;
    height: 10vh;
    background-color: #D9D9D9;
    border-radius: .5rem;
    margin: .5rem 0 0 .5rem;
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 100%;
    color: black;
}

.content .title {
    font-size: 2.0rem;
}

.content .description {
    font-size: 1.3rem;
}


/* WHAT IS GENMODE */

.what_is_gentmode {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/images/what_is_gentmode.avif");
    background-position: center;
    background-size: cover;
}

.filter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.663);
}

.filter>p {
    font-size: 7.0rem;
}


/* OUR STORY */

.our_story {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    padding: 15vh 15vw 5vh;
}

.our_story img {
    height: 100%;
    width: auto;
    border-radius: 1.0rem;
}

.story {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
}

.story .title {
    font-size: 3.0rem;
}

.story .description {
    font-size: 1.6rem;
}


/* CONTACT US */

.contact_us {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 8vw 10vh;
}

.form_container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2vh 6vh;
    justify-content: space-between;
    background-color: #3B3939;
    border-radius: 3.3rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 2.0rem;
    width: 65%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.contact_form>input,
#message {
    background-color: #D9D9D9;
    outline: none;
    border: none;
    font-size: 2.0rem;
    line-height: 2;
    text-indent: 1.2rem;
    border-radius: 1.5rem;
}

#message {
    resize: none;
}

#form_submit {
    background-color: #D9D9D9;
    align-self: flex-end;
    font-size: 2.0rem;
    padding: 1.2vh 4vh;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    margin-top: 1vh;
}

.socials {
    width: 35%;
    height: 100%;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8vh;
}

.social_container {
    display: flex;
    align-items: center;
    gap: 2vw;
    width: 100%;
}

.social_container .title {
    font-size: 1.6rem;
}


/* FOOTER ONE */

.footer_one {
    color: black;
    width: 100%;
    height: 50vh;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
}

.topic {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.footer_one .title {
    font-weight: 600;
    font-size: 2.5rem;
}

.footer_one .subtopic {
    font-size: 2.0rem;
}

.newsletter_form #email {
    background-color: #ffffff00;
    outline: 0;
    border: 0;
    border-bottom: .1rem solid black;
    font-size: 2.0rem;
    height: 4vh;
    width: 14vw;
}

.newsletter_form #subscribe_button {
    background-color: white;
    font-size: 2.0rem;
    outline: none;
    border: none;
    box-shadow: .3rem .3rem 0 #CBCBCB;
    padding: 0 .5rem;
}


/* FOOTER TWO */

.footer_two {
    width: 100%;
    height: 15vh;
    background-color: white;
    color: black;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

#created_by {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}